{%extends 'base.html'%}


<h1 class="h1style">This is heading 1</h1>

<p>Condicional!</p>
{% if sexo == 'm' %}
    Ola Senhor {{ nome }}
{% elif sexo == 'f' %}
    Ola Senhora {{ nome }}
{% else %}
    Ola {{ nome}}
{% endif %}


<ul>
<p>Utilizando loop na view!</p>
{% for pessoa in lista %}
    
    
    {% if pessoa.sexo == 'm' %}
    <li> Ola Senhor {{ pessoa.nome }}</li>
    {% elif pessoa.sexo == 'f' %}
    <li>Ola Senhora {{ pessoa.nome }} </li>
    {% else %}
    <li> Ola {{ pessoa.nome}}</li>
    {% endif %}
    
    
{% endfor %}

</ul>
